<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="~/css/home.css">
    <title>Home</title>
</head>

<body>
  
    <aside class="aside">
        <div class="container ">
            Due to the <strong class="covid">COVID 19</strong> epidemic, orders may be processed with a slight delay
        </div>
    </aside>
    <header class="header-top">
        <div class="container">
            <nav class="nav-bar">
                <div class="nav-column-left">
                    <ul class="nav-list">
                        <li class="nav-item"><a href="#" class="nav-link">About Us</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">My account</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">Wishlist</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">Order Tracking</a></li>
                    </ul>
                </div>
                <div class="nav-column-right">
                    <div class="icon-text-column-right">
                        <img width="34px" src="~/img/nav-icon-hand.png">
                        <!-- <i class="fa-solid fa-hand-sparkles"></i> -->
                        <span>100% Secure delivery without contacting the courier</span>
                    </div>

                    <div class="nav-right-text-content">
                        Need help? Call Us:
                        <a class="nav-right-call"><strong>+ 0020 500</strong></a>
                    </div>

                    <div class="nav-right-language-money">
                        <ul class="language-list">

                            <li class="languages">
                                English <i class="fa-solid fa-angle-down"></i>
                                <ul class="sub-languages">
                                    <li>English</li>
                                    <li>Spanish</li>
                                    <li>German</li>
                                </ul>
                            </li>

                        </ul>

                        <ul class="money-list">
                            <li class="money">
                                USD <i class="fa-solid fa-angle-down"></i>
                                <ul class="sub-money">
                                    <li>USD</li>
                                    <li>INR</li>
                                    <li>GBP</li>
                                </ul>
                            </li>
                        </ul>


                    </div>

                </div>


            </nav>
        </div>
    </header>
    <header class="header-bottom">
        <div class="container">

            <div class="nav-bar-center">
                <div class="sub-nav-top">

                    <div class="icon-text">
                        <img width="164px" src="~/img/bacola-logo.png">
                        <p>Online Grocery Shopping Center</p>
                    </div>
                    <div class="select-location">


                        <div class="select-location-text">
                            <div class="text">
                                <p>Your Location</p>
                                <p>Select a Location</p>
                            </div>

                            <i class="fa-solid fa-angle-down"></i>
                        </div>


                        <div class="sub-nav-top-search">
                            <form action="#">
                                <input type="search" name="s" class="search" placeholder="Search for products...">
                                <i class="fa-solid fa-magnifying-glass"></i>

                            </form>

                        </div>

                    </div>


                    <div class="icon-user-basket">
                        <div class="icon user-basket">
                            <i class="fa-solid fa-user "></i>
                        </div>
                        <bdi>
                            <span class="price-basket">$</span>
                            0.00
                        </bdi>
                        <div class="basket user-basket">
                            <i class="bi bi-bag"></i>
                            <sup>0</sup>
                        </div>

                    </div>




                </div>


            </div>

            <div class="nav-bar-bottom">
                <div class="nav-bar-bottom-button">
                    <div class="all-categories">
                        <i class="bi bi-list"></i>
                        <div class="all-categories-total">
                            <h3>ALL CATEGORIES</h3>
                            <span>TOTAL 63 PRODUCTS</span>
                        </div>

                        <i class="bi bi-chevron-down"></i>

                    </div>
                    <div class="dropdown-categories categories-hidden">
                        <ul class="categories-item">
                            <li class="category-parent fruits">
                                <i class="fa-brands fa-apple"></i>
                                <a href="#" class="category-parent-link ">Fruist & Vegetables</a>
                                <i class="bi bi-chevron-right"></i>
                                <ul class="category-sub-menu fruits-sub-menu">
                                    <li class="category-sub-menu-item">Cuts & Sprouts</li>
                                    <li class="category-sub-menu-item">Exotic Fruits & Veggies</li>
                                    <li class="category-sub-menu-item">Fresh Fruits</li>
                                    <li class="category-sub-menu-item">Fresh Vegetables</li>
                                    <li class="category-sub-menu-item">Herbs & Seasonings</li>
                                    <li class="category-sub-menu-item">Packaged Produce</li>
                                    <li class="category-sub-menu-item">Party Trays</li>
                                </ul>


                            </li>
                            <li class="category-parent">
                                <i class="fa-brands fa-apple"></i>
                                <a href="#" class="category-parent-link">Meats & Seafood</a>
                            </li>
                            <li class="category-parent">
                                <i class="bi bi-egg"></i>
                                <a href="#" class="category-parent-link">Breakfast & Dairy</a>
                            </li>
                            <li class="category-parent beverages">
                                <i class="fa-brands fa-apple "></i>
                                <a href="#" class="category-parent-link ">Beverages</a>
                                <i class="bi bi-chevron-right b-right"></i>
                                <ul class="category-sub-menu beverages-sub-menu" >
                                    <li class="category-sub-menu-item">Coffe</li>
                                    <li class="category-sub-menu-item">Craft Beer</li>
                                    <li class="category-sub-menu-item">Drink Bxoes & Pouches</li>
                                    <li class="category-sub-menu-item">Milk & Plant-Based Milk</li>
                                    <li class="category-sub-menu-item">Soda & Pop</li>
                                    <li class="category-sub-menu-item">Sparkling Water</li>
                                    <li class="category-sub-menu-item">Water</li>
                                    <li class="category-sub-menu-item">Wine</li>
                                </ul>
                            </li>
                            <li class="category-parent"><i class="fa-brands fa-apple"></i>
                                <a href="#" class="category-parent-link">Breads & Bakery</a>
                            </li>
                            <li class="category-parent">
                                <i class="fa-brands fa-apple"></i>
                                <a href="#" class="category-parent-link">Frozen & Foods</a>
                            </li>
                            <li class="category-parent">
                                <i class="fa-brands fa-apple"></i>
                                <a href="#" class="category-parent-link">Biscuits & Snacks</a>
                            </li>
                            <li class="category-parent">
                                <i class="fa-brands fa-apple"></i>
                                <a href="#" class="category-parent-link">Grocery & Staples</a>
                            </li>

                            <div class="line"></div>
                            <div class="bottom-elements">
                            <li class="category-parent">
                                <i class="fa-brands fa-apple"></i>
                                <a href="#" class="category-parent-link">Biscuits & Snacks</a>
                            </li>
                         
                            <li class="category-parent">
                                <i class="fa-brands fa-apple"></i>
                                <a href="#" class="category-parent-link">Grocery & Staples</a>
                            </li>
                            <li class="category-parent">
                                <i class="fa-brands fa-apple"></i>
                                <a href="#" class="category-parent-link">Grocery & Staples</a>
                            </li>
                        </div>
                        </ul>

                    </div>
                </div>

                <div class="nav-bar-bottom-menu">
                    <ul class="nav-bottom-menu-list">
                        <li class="nav-bottom-menu-item home"><a href="#" class="nav-bottom-menu-link">HOME<i
                                    class="fa-solid fa-angle-down"></i></a>

                            <ul class="nav-bottom-menu-sub">
                                <li>home1</li>
                                <li>home2</li>
                                <li>home3</li>
                                <li>home4</li>
                                <li>home5</li>
                            </ul>
                        </li>

                        <li class="nav-bottom-menu-item shop"><a href="./shop.html" class="nav-bottom-menu-link">SHOP<i
                                    class="fa-solid fa-angle-down"></i></a>

                            <ul class="nav-bottom-menu-sub-shop">

                                <ul>
                                    <ul>Shop Lists
                                        <li>Shop Default</li>
                                        <li>Shop Right Sidebar</li>
                                        <li>Shop Wide</li>
                                        <li>List Left Sidebar</li>
                                        <li>Load More Button</li>
                                        <li>Infinite Scrolling</li>
                                    </ul>
                                </ul>
                                <ul>
                                    <ul>Product Detail
                                        <li>Product Default</li>
                                        <li>Product Variable</li>
                                        <li>Product Grouped</li>
                                        <li>Product External</li>
                                        <li>Product Downloadable</li>
                                        <li>Product With Video</li>
                                    </ul>
                                </ul>
                                <ul>
                                    <ul>Product Types
                                        <li>Single Type 1</li>
                                        <li>Single Type 2</li>
                                        <li>Single Type 3</li>
                                        <li>Single Type 4</li>
                                        <li>Thumbnails Left</li>
                                        <li>Zoom Image</li>
                                    </ul>
                                </ul>
                                <ul>
                                    <ul>Shop Pages
                                        <li>Cart</li>
                                        <li>Checkout</li>
                                        <li>My account</li>
                                        <li>Wishlist</li>
                                        <li>Order Tracking</li>
                                        <li>Order on WhatsApp</li>
                                    </ul>
                                </ul>
                                <ul>
                                    <ul>Shop Layouts
                                        <li>Two Columns</li>
                                        <li>Three Columns</li>
                                        <li>Three Columns Wide</li>
                                        <li>Four Columns</li>
                                        <li>Four Columns Wide</li>
                                        <li>Five Columns wide</li>

                                    </ul>
                                </ul>


                            </ul>

                        </li>
                        <li class="nav-bottom-menu-item"><a href="#" class="nav-bottom-menu-link"><i
                                    class="bi bi-badge-8k"></i>MEATS & SEAFOOD</a></li>
                        <li class="nav-bottom-menu-item"><a href="#" class="nav-bottom-menu-link"><i
                                    class="bi bi-badge-8k"></i>BAKERY</a></li>
                        <li class="nav-bottom-menu-item"><a href="#" class="nav-bottom-menu-link"><i
                                    class="bi bi-badge-8k"></i>BEVERAGES</a></li>
                        <li class="nav-bottom-menu-item"><a href="#" class="nav-bottom-menu-link">BLOG</a></li>
                        <li class="nav-bottom-menu-item"><a href="./contact.html" class="nav-bottom-menu-link">CONTACT</a></li>
                    </ul>
                </div>

            </div>
        </div>

    <div class="modal-window hidden">
         <button class="close-modal-window">&times;</button> 
        <h4>Choose your Delivery Location</h4>
        <p>Enter your address and we will specify the offer for your area</p>
        <div class="sub-nav-top-search">
            <form action="#">
                <input type="search" name="s" class="search" placeholder="Search for products...">
                <i class="fa-solid fa-magnifying-glass"></i>
            </form>
        </div> 
    <ul>
        <li>Select a Location
            <span>Clear All</span>
        </li>
        <li>Alabama
            <span>Min:$210</span></li>
        <li>Alaska
            <span>Min:$120</span></li>
        <li>Arizona
            <span>Min:$150</span></li>
        <li>California
            <span>Min:$150</span></li>
        <li>Colorado
            <span>Min:$150</span></li>
        <li>Florida
            <span>Min:$130</span></li>
        <li>Georgia
            <span>Min:$250</span></li>
        <li>Kansas
            <span>Min:$170</span></li>
        <li>Minnesota
            <span>Min:$120</span></li>
        <li>New York
            <span>Min:$110</span></li>
        <li>Washington
            <span>Min:$130</span></li>
    </ul>
    </div>
  
    </header>
        @RenderBody()
    
    <section class="cupon">
        <div class=" flex">
            <div class="cupon-info">
                <h5>$20 discount for your first order</h5>
                <h2 class="title">Join our newsletter and get...</h2>
                <p>Join out email subscription now to get updates on promotions and cupons.</p>


                <form action="#">
                    <i class="bi bi-envelope"></i>
                    <input type="email" placeholder="Your email address">
                    <button>Subscribe</button>

                </form>
            </div>

            <div class="icon">
                <img src="~/img/coupon.png">
            </div>

        </div>
    </section>


    <footer class="footer">

        <div class="footer-top">
            <div class="container">
                <div class="footer-top-flex">
                    <h6><i class="fa-brands fa-angular"></i>Everyday fresh products</h6>
                    <div class="line"></div>
                    <h6><i class="fa-brands fa-angular"></i>Free delivery for order over $70</h6>
                    <div class="line"></div>
                    <h6><i class="fa-brands fa-angular"></i>Daily Mega Discounts</h6>
                    <div class="line"></div>
                    <h6><i class="fa-brands fa-angular"></i>Best price on the market</h6>
                </div>
                <div class="line-bottom"></div>
            </div>
        </div>


        <div class="footer-center">
            <div class="container">

                <div class="footer-info">

                    <ul>
                        <ul>
                            <span>FRUIT & VEGETABLES</span>
                            <li>Fresh Vegetables</li>
                            <li>Herbs & Seasonings</li>
                            <li>Fresh Fruits</li>
                            <li>Cuts & Sprouts</li>
                            <li>Exotic Fruits & Veggies</li>
                            <li>Packaged Produce</li>
                            <li>Party Trays</li>
                        </ul>
                    </ul>
                    <ul>
                        <ul>
                            <span>BREAKFAST & DAIRY</span>

                            <li>Milk & Flavoured Milk</li>
                            <li>Butter and Margarine</li>
                            <li>Cheese</li>
                            <li>Eggs Substitutes</li>
                            <li>Honey</li>
                            <li>Marmalades</li>
                            <li>Sour Cream and Dips</li>
                            <li>Yogurt</li>
                        </ul>
                    </ul>
                    <ul>
                        <ul>
                            <span>MEAT & SEAFOOD</span>
                            <li>Breakfast Sausage</li>
                            <li>Dinner Sausage</li>
                            <li>Beef</li>
                            <li>Chicken</li>
                            <li>Sliced Deli Meat</li>
                            <li>Wild Caught Fillets</li>
                            <li>Crab and Shellfish</li>
                            <li>Farm Raised Fillets</li>
                        </ul>
                    </ul>
                    <ul>
                        <ul>
                            <span>BEVERAGES</span>
                            <li>Water</li>
                            <li>Sparkling Water</li>
                            <li>Soda & Pop</li>
                            <li>Coffee</li>
                            <li>Milk & Plant-Based Milk</li>
                            <li>Tea & Kombucha</li>
                            <li>Drink Boxes & Pouches</li>
                            <li>Craft Beer</li>
                            <li>Wine</li>

                        </ul>
                    </ul>
                    <ul>
                        <ul>
                            <span>BREADS & BAKERY</span>
                            <li>Milk & Flavoured Milk</li>
                            <li>Butter and Margarine</li>
                            <li>Cheese</li>
                            <li>Eggs Substitutes</li>
                            <li>Honey</li>
                            <li>Marmalades</li>
                            <li>Sour Cream and Dips</li>
                            <li>Yogurt</li>

                        </ul>
                    </ul>

                </div>


            </div>
        </div>








        <div class="footer-bottom">
            <div class="container ">
                <div class="footer-bottom-info">


                    <div class="footer-bottom-cal">
                        <div class="icon">
                            <i class="bi bi-telephone-inbound"></i>
                        </div>
                        <div class="number">
                            <h2>8 800 555-55</h2>
                            <span>Working 8:00 - 22:00</span>
                        </div>
                    </div>

                    <div class="footer-bottom-right-info">
                        <div class="text">
                            <h5>Download App on Mobile :</h5>
                            <span>15% discount on your first purchase</span>
                        </div>
                        <div class="media">
                            <div class="google-app-store">
                                <img src="~/img/footer/google-play.png">
                                <img src="~/img/footer/app-store.png">
                            </div>
                            <div class="social">
                                <i class="soc fa-brands fa-facebook-f"></i>
                                <i class="soc bi bi-twitter"></i>
                                <i class="soc bi bi-instagram"></i>
                            </div>
                        </div>
                    </div>

                    
                </div>
            </div>
        </div>

<div class="footer-very-bottom">
    <div class="container">
        <div class="line"></div>
        <div class="very-bottom-info">
            <div class="info">
                <p>Copyright 2022 © Bacola WordPress Theme. All rights reserved. Powered by KlbTheme.</p>
            </div>
            <div class="bank-card">
<ul>
    <li>Privacy Policy</li>
    <li>Terms and Condtions</li>
    <li>Cookie</li>
    <li><img src="~/img/payments.jpg"></li>
</ul>
            </div>
        </div>
    </div>
</div>


    </footer>
    <div class="overlay hidden"></div>
</body>
<script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
<script src="~/js/home.js"></script>

</html>

